* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
}

nav {
  background: wheat;
  padding: 3rem;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 3rem;
}

.links {
  flex-basis: 15%;
  display: flex;
  justify-content: space-between;
}

.book {
  margin: 2rem;
  font-size: 3rem;
  background: whitesmoke;
  width: 50%;
  border-radius: 0.8rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
input{
  font-size: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}
.book-author{
  margin-top: 2rem;
  text-align: right;
}


.form-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
button{
  background: green;
  padding: 1rem 2rem;
  color: white;
}
main{
  max-width: 1200px;
  margin: 40px auto;
}
